<%= form_with model: profession, class: 'col' do |form| %>

  <div>
    <%= form.label 'Name of profession' %><br>
    <%= form.text_field :name %>
    <% profession.errors.full_messages_for(:name).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <div>
    <%= form.submit 'Save' %>
  </div>

<% end %>
