<ul>
  <% if current_user.is_a?(User) && current_user.admin? %>
    <h1>Appointments</h1>

    <% @appointments.each do |appoint| %>
      <li>
        Doctor: <%= appoint.doctor.name %>
        Patient: <%= appoint.user.name %>
        Date and time: <%= appoint.date %>
        <%= link_to 'edit appointment', appoint %>
        <%= link_to 'with recommendations', appoint unless appoint.advice.blank? %>
      </li>
    <% end %>

  <% elsif current_user.is_a?(User) %>
    <h1>Appointments to doctors</h1>

    <% @appointments.where(user_id: current_user.id).each do |appoint| %>
      <li>
        Doctor: <%= appoint.doctor.name %>
        Date and time: <%= appoint.date %>
        <%= link_to 'view recommendations', appoint unless appoint.advice.blank? %>
      </li>
    <% end %>

  <% elsif current_user.is_a?(Doctor)%>
    <h1>Appointments from patients</h1>
    <% @appointments.where(doctor_id: current_doctor.id).each do |appoint| %>
      <li>
        Patient: <%= appoint.user.name %>
        Date and time: <%= appoint.date %>
        <%= link_to 'add recommendation', appoint if appoint.advice.blank? %>
      </li>
    <% end %>
  <% end %>
</ul>